<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Let's talk about us</h2>
        </div>
    </div>
    <div class="pro-pic">
        <div class="row">
            <div class="col-md-4">
                <div class="profile">
                    <img src="../../assets/images/profile1.jgp.webp" alt="...">
                    <div class="content">
                        <h4>Henry Ford</h4>
                        <h6>Product Manager</h6>
                    </div>
                    <p>Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.</p>
                </div>
                <div class="fab-icon">
                    <i class='fab fa-twitter fa-lg' style="color: #55ACEE;"></i>
                    <i class='fab fa-dribbble fa-lg' style="color: #EA4C89;"></i>
                    <i class='fab fa-linkedin fa-lg' style="color: #0976B4;"></i>
                </div>
            </div>
            <div class="col-md-4">
                <div class="profile">
                    <img src="../../assets/images/images.jfif" alt="...">
                    <div class="content">
                        <h4>Sophie West</h4>
                        <h6>Designer</h6>
                    </div>
                    <p>Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.</p>
                </div>
                <div class="fab-icon">
                    <i class='fab fa-twitter fa-lg' style="color: #55ACEE;"></i>
                    <i class='fab fa-dribbble fa-lg' style="color: #EA4C89;"></i>
                    <i class='fab fa-linkedin fa-lg' style="color: #0976B4;"></i>
                </div>
            </div>
            <div class="col-md-4">
                <div class="profile">
                    <img src="../../assets/images/profile2.webp" alt="...">
                    <div class="content">
                        <h4>Robert Orben</h4>
                        <h6>Developer</h6>
                    </div>
                    <p>The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.</p>
                </div>
                <div class="fab-icon">
                    <i class='fab fa-twitter fa-lg' style="color: #55ACEE;"></i>
                    <i class='fab fa-dribbble fa-lg' style="color: #EA4C89;"></i>
                    <i class='fab fa-linkedin fa-lg' style="color: #0976B4;"></i>
                </div>
            </div>
        </div>
    </div>
</div>

