<div class="container">
    <div class="logo-container">
        <h3 class="logo">Paper kit 2 pro angular</h3>
    </div>
  
    <span class="top-tip">
        <div class="row">
            <div class="nav-btn">
                <div class="nav-links">
                    <ul>
                        <!-- components -->
                        <li class="nav-link">
                            <a>Components
                                <i class="fas fa-caret-down"></i>
                            </a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>toc</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">All Components</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>handyman</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Presentation</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>format_list_bulleted</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Documentation</a>
                                        </span>
                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>
        
                        <!-- sections -->
                        <li class="nav-link" style="--i: .85s">
                            <a href="#">Sections<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>toc</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Headers</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>handyman</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Features</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>format_list_bulleted</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Blogs</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>person</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Teams</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>calendar_today</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Projects</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>payments</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">pricing</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>badge</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Testimonials</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>phone_iphone</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Contacts</a>
                                        </span>
                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>
        
                        <!-- Examples -->
                        <li class="nav-link" style="--i: 1.1s">
                            <a href="#">Examples<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>account_balance</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">About Us</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>shopping_basket</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Add Product</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>badge</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Blog Post</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>format_list_bulleted</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Blog Posts</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>phone_iphone</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Contact Us</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>public</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Discover</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>send</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Ecommerce</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>rocket_launch</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Landing Page</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>lock_open</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Login Page</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>image</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Product Page</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>person</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Profile Page</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>bookmark_border</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Register Page</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>search</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Search Page</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>settings</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Settings Page</a>
                                        </span>
                                    </li>
                                    <li class="dropdown-link">
                                        <span>
                                            <mat-icon>info</mat-icon>
                                        </span>&nbsp;&nbsp;
                                        <span>
                                            <a href="#">Twitter</a>
                                        </span>
                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>      
                    </ul>  
                </div> 
            </div>
        </div>
    </span>
    <span>
        <div class="buy">
            <button mat-flat-button color="warn">
                <mat-icon>shopping_cart</mat-icon>Buy Now
            </button>
        </div>
    </span>
</div>
  
  <router-outlet></router-outlet>


  