<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <h4>Keep in touch?</h4>
            </div>
            <form>
                <div class="row">
                    <div class="col">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" placeholder="Email"><br>
                    </div>
                </div>
                <div class="col-12">
                    <label for="message" class="form-label">Message</label>
                    <textarea type="text" class="form-control" placeholder="Tell us your thoughts and feelinds..."></textarea>
                </div>  
                <button mat-flat-button color="warn">
                    Send Message
                </button>              
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="footer">
        <div class="row">
            <div class="col-md-4">
                <span>
                    Creative Tim
                </span>
                <span>
                    Blog
                </span>
                <span>
                    Licenses
                </span>
            </div>
            <div class="col-md-4">
                <h3>
                    © 2021, made with ❤️ by Creative Tim
                </h3>
            </div>
        </div>
    </div>
</div>