<div class="filter-lg">
  <mat-toolbar>
    <app-toolbar></app-toolbar>
  </mat-toolbar>
  <div class="parallel">
    <div class="main">
      <h1>Landing page</h1>
      <h3>Start designing your landing page here.</h3>
      <button mat-raised-button class="watch">
        <mat-icon>play_arrow</mat-icon>Watch Video
      </button>
      <button mat-raised-button class="download">
        Download
      </button>
    </div>
  </div>
  <div class="part-2">
    <h1 class="lets-talk">Let's talk product</h1>
    <div class="row">
      <div class="col-md-6">
        <p>This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</p>
      </div>
    </div>
    <button mat-flat-button color="warn">See Details</button>
  </div>
  <div class="B4block">
    <div class="row">
      <div class="col-md-3">
        <div class="box">
          <mat-icon class="icon" color="warn">palette</mat-icon>
          <div class="content">
            <h2>Beautiful Gallery</h2>
            <p>Spend your time generating new ideas. You don't have to think of implementing.</p>
            <a href="">See more</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <mat-icon class="icon" color="warn">lightbulb</mat-icon>
          <div class="content">
            <h2>New Ideas</h2>
            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
            <a href="">See more</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <mat-icon class="icon" color="warn">bar_chart</mat-icon>
          <div class="content">
            <h2>Statistics</h2>
            <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
            <a href="">See more</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <mat-icon class="icon" color="warn">wb_sunny</mat-icon>
          <div class="content">
            <h2>Delightful design</h2>
            <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
            <a href="">See more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block">
    <app-blck-block></app-blck-block>
  </div>
  <div class="touch">
    <app-touch></app-touch>
  </div>
</div>
<router-outlet></router-outlet>
